.clients {
  display: flex;
  justify-content: space-around;
}

.clients__item {
  width: 170px;
  height: 92px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.clients__link {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color $animation-timing $timing-function;

  &:hover,
  &:focus {
    border-color: $accent-color;
  }
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill $animation-timing $timing-function;

  .clients__link:hover &,
  .clients__link:focus & {
    fill: $accent-color;
  }
}
