.logo {
  display: block;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo__color {
  color: $accent-color;
}

.header__logo {
  padding: 15px;
  margin-right: 50px;
  color: $logo-color-header;

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.footer__logo {
  margin-bottom: 20px;
  color: $logo-color-footer;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}
