.team__section {
  background-color: $third-background-color;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.team__item {
  border-radius: 0px 0px 4px 4px;
  background-color: $main-background-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.team__thump {
  padding: 30px 0;
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: $text-color;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 206px;
  min-height: 44px;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  min-width: 44px;
  min-height: 44px;
  border-radius: 50%;
  transition: background-color $animation-timing $timing-function;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill $animation-timing $timing-function;

  .social-list__link:hover &,
  .social-list__link:focus & {
    fill: #ffffff;
  }
}
