$main-title-color: #212121;
$title-color: #ffffff;
$text-color: #757575;
$accent-color: #2196f3;
$button-active: #188ce8;
$logo-color-header: #000000;
$logo-color-footer: #ffffff;
$text-button-first-color: #ffffff;
$text-button-second-color: #212121;
$main-button-color-background: #2196f3;
$secondary-button-color-background: #f5f4fa;
$main-background-color: #ffffff;
$second-background-color: #2f303a;
$third-background-color: #f5f4fa;
$primary-background-color: #c4c4c4;
$main-font: 'Roboto', sans-serif;
$animation-timing: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);